body {
  font-size: 20px;
  background-color: white;
  color: #000000;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 200%;
  line-height: 200%;
}

figcaption {
  font-size: 80%;
}

h3 {
  font-size: 100%;
  line-height: normal;
  padding-top: 0.2em;
  padding-bottom: 1.8em;
}

p {
  font-size: 80%;
  line-height: normal;
  text-align: left;
  padding-top: 0.6em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
  }

a:link {
    color: #000000;
  }

a:visited{
  color: #FFC0CB;
}

a:hover{
  color: #BA55D3;
}

a:active{
  color:	#FF0000;
}
